h1{
  color: rgb(208, 73, 16);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
color: #599858;
  }

p{
  font-style: italic;
}

body{
  background-color: #ff7ffd;
}